body {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 25px;
    border-radius: 20px;
    font-size: x-small;
    color: white;
}

section {
    display: flex;
}

.diet {
    width: 60%;
}

.diet img {
    height: 400px;
    width: 400px;
}

.healthy {
    padding-bottom: 100px;
}

.abuot-me {
    background-image: url(images/7.png);
    padding-right: 100px;
    padding-bottom: 100px;


}

.diet1 {
    padding-left: 90px;
    padding-right: 50px;
}